.geral{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100vw;
}

.detalhes-empresa-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;

  height: 70vh;
  width: 90vw;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.back{
  text-decoration: none;
  padding-bottom: 30px;
}

.conteudo {
  display: flex;
  justify-content: space-between;
  
}

.conteudo button{
  margin: 0px;
  padding: 0px;
  margin-right: 10px;
  width: 100px;
}

.modal h3 {
  margin-top: 0;
}

.modal button {
  margin-top: 10px;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  width: 1500px; /* Tamanho fixo */
  height: 800px; /* Tamanho fixo */
  overflow: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para fechar o modal */
.modal-content .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-geral{
  display: flex;
  justify-content: space-between;
}

.map-container {
  border: 5px solid #ccc;
  border-radius: 0px;
  overflow: hidden;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 90%; /* Altura desejada */
}

.map-container .leaflet-container {
  width: 100% !important;
  height: 100% !important;
}
